<form method="post" action="/signin">
	<label for="email">E-mail</label>
	<input type="text" name="email">
	<label for="password">Password</label>
	<input type="text" name="password">
	<button type="submit">Sign in</button>
</form>